{% load static from staticfiles %}
{% load embed_video_tags %}
{% load thumbnail %}
{% load jsonify %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'core/img/favicon.png' %}">

    {% include 'metainfo/meta_tags.html' %}

    {% if debug %}
        <script src="{% static 'core/vendor/modernizr/modernizr.js' %}"></script>
    {% else %}
        <script src="{% static 'core/vendor/modernizr/modernizr.min.js' %}"></script>
    {% endif %}
</head>
<body id="body">

    <script>
    (function(){
        var mainGlCenter = document.getElementById('body'),
                baseFontSize = 1600;

        function font() {
            var width = mainGlCenter.offsetWidth,
                fontSize = width / baseFontSize * 16;

            mainGlCenter.style.fontSize = fontSize + 'px';
        }

        window.addEventListener('resize', font);
        font();

        {% if to_the_form %}
        window.toTheForm = true;
        {% else %}
        window.toTheForm = false;
        {% endif %}

        {% if history_created %}
        window.historyCreated = true;
        {% else %}
        window.historyCreated = false;
        {% endif %}

        window.instagramList = {{ instagram_list|jsonify|safe }};
        window.instagramListShowing = {{ instagram_list_shoing|jsonify|safe }};

    }());
    </script>

    <div class="site-wrapper">
        <div class="padding-box"></div>
        <div class="gl-absolute-wrapper">
            <header class="main-header">
                <nav class="main-nav">
                    <ul>
                        <li>
                            <a href="#" class="active" data-scroll="0">
                                <span class="text">
                                    Nossa História
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="sua-historia link-form" data-scroll="4763">
                                <span class="text">
                                    Sua História
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>

            <div class="logo">
                <img src="/static/core/img/backgrounds/logo-photo.png" alt="">
                <img src="/static/core/img/backgrounds/logo-photo-hover.png" alt="" class="hover">

            </div>


            <div class="video-section-wrapper">
                <div class="video-wrapper">
                    <a href="#" class="thumb">
                        <svg version="1.1" class="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 121.493 121.494" style="enable-background:new 0 0 121.493 121.494;"
                             xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M51.026,101.54L51.026,101.54c-1.187,0-2.299-0.461-3.134-1.298
                                        c-0.732-0.734-1.603-2.124-1.596-4.576l0.042-14.094v-41.66l-0.042-14.086c-0.007-2.451,0.864-3.841,1.595-4.574
                                        c0.834-0.837,1.948-1.298,3.134-1.298c1.454,0,2.892,0.655,4.276,1.947L69.14,34.826c2.18,2.036,5.763,5.346,7.961,7.356
                                        l13.878,12.683c1.697,1.553,2.632,3.642,2.632,5.883c0,2.24-0.935,4.329-2.631,5.881L77.1,79.313
                                        c-2.198,2.01-5.782,5.32-7.961,7.354L55.302,99.594C53.917,100.886,52.479,101.54,51.026,101.54z M52.301,27.309l0.038,12.595
                                        v41.678l-0.038,12.604l12.743-11.904c2.192-2.046,5.797-5.374,8.008-7.396L86.932,62.2c0.438-0.4,0.679-0.916,0.679-1.452
                                        c0-0.537-0.241-1.053-0.68-1.454L73.053,46.611c-2.213-2.023-5.817-5.353-8.009-7.4L52.301,27.309z"/>
                                </g>
                                <g>
                                    <path d="M60.746,121.494C27.25,121.494,0,94.243,0,60.746C0,27.251,27.25,0,60.746,0
                                        c33.496,0,60.747,27.251,60.747,60.746C121.493,94.243,94.242,121.494,60.746,121.494z M60.746,6C30.559,6,6,30.559,6,60.746
                                        c0,30.188,24.559,54.748,54.746,54.748c30.188,0,54.747-24.56,54.747-54.748C115.493,30.559,90.934,6,60.746,6z"/>
                                </g>
                            </g>
                        </svg>

                        {% if movie_list.0.image %}
                        <img src="{% thumbnail movie_list.0.image "788x460" crop upscale %}" alt="">
                        {% endif %}
                    </a>

                    {% video movie_list.0.embed as my_video %}
                      {% video my_video "large" %}
                    {% endvideo %}
                </div>

                <ul class="video-list">
                    {% for movie in movie_list %}
                    <li>
                        {% video movie.embed as my_video %}
                        <a href="#" data-video="{{ my_video.url }}">
                            <span class="gl-relative">
                                <svg version="1.1" class="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 121.493 121.494" style="enable-background:new 0 0 121.493 121.494;"
                                     xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M51.026,101.54L51.026,101.54c-1.187,0-2.299-0.461-3.134-1.298
                                                c-0.732-0.734-1.603-2.124-1.596-4.576l0.042-14.094v-41.66l-0.042-14.086c-0.007-2.451,0.864-3.841,1.595-4.574
                                                c0.834-0.837,1.948-1.298,3.134-1.298c1.454,0,2.892,0.655,4.276,1.947L69.14,34.826c2.18,2.036,5.763,5.346,7.961,7.356
                                                l13.878,12.683c1.697,1.553,2.632,3.642,2.632,5.883c0,2.24-0.935,4.329-2.631,5.881L77.1,79.313
                                                c-2.198,2.01-5.782,5.32-7.961,7.354L55.302,99.594C53.917,100.886,52.479,101.54,51.026,101.54z M52.301,27.309l0.038,12.595
                                                v41.678l-0.038,12.604l12.743-11.904c2.192-2.046,5.797-5.374,8.008-7.396L86.932,62.2c0.438-0.4,0.679-0.916,0.679-1.452
                                                c0-0.537-0.241-1.053-0.68-1.454L73.053,46.611c-2.213-2.023-5.817-5.353-8.009-7.4L52.301,27.309z"/>
                                        </g>
                                        <g>
                                            <path d="M60.746,121.494C27.25,121.494,0,94.243,0,60.746C0,27.251,27.25,0,60.746,0
                                                c33.496,0,60.747,27.251,60.747,60.746C121.493,94.243,94.242,121.494,60.746,121.494z M60.746,6C30.559,6,6,30.559,6,60.746
                                                c0,30.188,24.559,54.748,54.746,54.748c30.188,0,54.747-24.56,54.747-54.748C115.493,30.559,90.934,6,60.746,6z"/>
                                        </g>
                                    </g>
                                </svg>
                                <img src="{% thumbnail movie.image "96x80" crop upscale %}" alt="">
                            </span>
                            <span class="text">
                                {{ movie.title }}
                            </span>
                        </a>
                        {% endvideo %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="icons-sec">
                <div class="inauguracao show-1">
                    <div class="line"></div>
                    <img src="/static/core/img/pendurados/year-1989.png" class="year-1989" alt="">
                </div>

                <div class="inauguracao-text-wrapper">
                    Inauguração
                </div>
                <div class="calendario show-1">
                    <div class="line"></div>
                    <img src="/static/core/img/pendurados/ICON-CALENDARIO.png" class="ICON-CALENDARIO" alt="">
                </div>
                <div class="calendario-text-wrapper">
                    Primeiro shopping <br> <span class="brasil">do Brasil</span> <br> <span class="abrir">a abrir aos domingos</span> <br> e feriados
                </div>

                <div class="cartao1 show-1">
                    <div class="line"></div>
                    <img src="/static/core/img/pendurados/ICON-CARD.png" class="ICON-CARD" alt="">
                </div>

                <div class="cartao2 show-1">
                    <div class="line"></div>
                    <img src="/static/core/img/pendurados/ICON-CARD2.png" class="ICON-CARD2" alt="">
                </div>
                
                <div class="cartao2-text-wrapper">
                    Primeiro shopping <br> do país <span class="parcerlar">a parcelar em 4x</span> <br> no cartão de crédito <br> <div class="sem">sem juros</div>
                </div>

                <div class="bus show-1">
                    {# <div class="line"></div> #}
                    <img src="/static/core/img/pendurados/ICON-BUS.png" class="ICON-BUS" alt="">
                </div>
                
                <div class="bus-text-wrapper">
                    <div class="dois-mil">2000</div>
                    <div class="other">Lançamento do <br> Bus Shopping</div>
                </div>

                <div class="vestido show-2">
                    <div class="line"></div>
                    <img src="/static/core/img/pendurados/ICON-VESTIDO.png" class="ICON-VESTIDO" alt="">
                </div>
                
                <div class="vestido-text-wrapper">
                    <div class="dois-mil">2000</div>
                    <div class="other">1ª edição do <br> Manaíra Shopping <br> Collection</div>
                </div>

                <div class="sacola show-2">
                    <img src="/static/core/img/pendurados/sacola.png" class="sacola" alt="">
                </div>
                
                <div class="sacola-text-wrapper">
                    <div class="other">Mais de <br><span class="duzentas">200</span> lojas</div>
                </div>

                <div class="microfone show-2">
                    <img src="/static/core/img/pendurados/microfone.png" class="microfone" alt="">
                </div>
                
                <div class="microfone-text-wrapper">
                    <div class="ano">2009</div>
                    <div class="other">Inauguração <br> da Domus Hall</div>
                </div>

                <div class="pipoca show-3">
                    <img src="/static/core/img/pendurados/ICON-PIPOCA.png" class="ICON-PIPOCA" alt="">
                </div>
                
                <div class="pipoca-text-wrapper">
                    <div class="ano">2011</div>
                    <div class="inauguracao-text">Inauguração do </div>
                    <div class="cinepolis">Cinépolis Brasil,</div>
                    <div class="rest">maior rede de cinemas <br> da América Latina</div>
                </div>

                <div class="gourmet show-3">
                    <img src="/static/core/img/pendurados/chef.png" class="chef" alt="">
                </div>
                
                <div class="gourmet-text-wrapper">
                    <div class="ano">2014</div>
                    <div class="inauguracao-text">Inauguração </div>
                    <div class="rest">do Espaço <br> Gourmet</div>
                </div>

                <div class="paraiba show-3">
                    <img src="/static/core/img/pendurados/paraiba.png" class="paraiba" alt="">
                </div>
                
                <div class="paraiba-text-wrapper">
                    <div class="maior">maior</div>
                    <div class="rest">shopping <br> da Paraíba</div>
                </div>
            </div>

            <div class="instagram-section-wrapper">
                <div class="instagram-box">
                    <div class="swiper-container">
                        {% for instagram in instagram_list_shoing %}
                        <div class="li">
                            <a href="{{ instagram.json.link }}" target="_blank" class="show">
                                <img src="{{ instagram.json.images.low_resolution.url }}" alt="{{ instagram.json.caption.text }}" class="instagram-image">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <div class="positioner-show-1" data-target=".show-1" ></div>
            <div class="positioner-show-2" data-target=".show-2" ></div>
            <div class="positioner-show-3" data-target=".show-3" ></div>


            <div class="overlay-1"></div>
            <div class="overlay-2"></div>
            <div class="overlay-3"></div>

            <a href="#" class="conte-sua-historia-clicker"></a>

            <span href="#" class="opener-modal">
                clique aqui
            </span>

            <form class="modal-conte-sua-historia {% if form.errors %}has-erros{% endif %} {% if to_the_form %}show{% endif %}" enctype="multipart/form-data" method="post" action="{% url 'core_index' %}">
                {% csrf_token %}
                <div class="center">
                    <a href="#" class="close-modal">X</a>
                    <img src="/static/core/img/backgrounds/sua-historia.png" alt="" class="sua-historia">

                    <div class="form-content-wrapper">
                        <div class="form-wrapper">
                            <div class="row">
                                <div class="col-4">
                                    <label for="name">Nome</label>
                                    <input type="text" name="name" id="name" class="input {% if form.name.errors %}error{% endif %}" {% if form.name.value %}value="{{ form.name.value }}"{% endif %}>
                                </div>
                                <div class="col-4">
                                    <label for="email">E-mail</label>
                                    <input type="email" name="email" id="email" class="input {% if form.email.errors %}error{% endif %}" {% if form.email.value %}value="{{ form.email.value }}"{% endif %}>
                                </div>
                                <div class="col-4">
                                    <label for="phone">Telefone</label>
                                    <input type="text" name="phone" id="phone" class="input {% if form.phone.errors %}error{% endif %}" {% if form.phone.value %}value="{{ form.phone.value }}"{% endif %}>
                                </div>
                            </div>

                            <div class="gl-relative">
                                <textarea name="message" id="" class="message {% if form.message.errors %}error{% endif %}" placeholder="Escreva aqui" >{% if form.message.value %}{{ form.message.value }}{% endif %}</textarea>
                                <div class="textarea-bg">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="history-created-wrapper">
                            Sua história foi enviada com sucesso. <br>
                            Obrigado por fazer parte dos 25 anos do Manaíra Shopping. <br>
                            Boa sorte! O sorteio será realizado dia xx de xx de 2014. <br>
                            <a href="#" class="back-to-form">
                                Clique aqui para enviar outra história.
                            </a>
                        </div>
                        <div class="regulamento-wrapper">
                            Regulamento
                        </div>
                    </div>

                    <div class="buttons">
                        <span class="btn-group">
                            <span href="#" class="btn">
                                <img src="/static/core/img/backgrounds/clipe.png" alt="" class="clipe">
                                <span class="text">
                                    Anexar arquivo
                                </span>

                                <input type="file" name="file">
                            </span>
                            <button type="submit" class="btn">
                                <img src="/static/core/img/backgrounds/carta.png" alt="" class="carta">
                                <span class="text">
                                    Enviar mensagem
                                </span>
                            </button>
                        </span>

                        <span class="share">Compartilhar</span>
                        <a href="#" class="facebook-link">
                            <img src="/static/core/img/backgrounds/facebook.png" alt="" class="facebook">
                        </a>
                        <a href="http://twitter.com/share?text=Acabei de compartilhar a minha história vivida no @ManairaShopping e tô concorrendo a um iPhone 6! Conte a sua também: {{ request.build_absolute_uri }} #Manaíra25anos" class="twitter-link">
                            <img src="/static/core/img/backgrounds/twitter.png" alt="" class="twitter">
                        </a>
                        <a href="" class="regulamento">
                            Regulamento
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </div>

    {% if debug %}
        <script src="{% static 'core/js/scripts.js' %}"></script>
        <script src="//localhost:35729/livereload.js"></script>
    {% else %}
        <script src="{% static 'core/js/scripts.min.js' %}"></script>
    {% endif %}

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 1509202292689903,
          xfbml      : true,
          version    : 'v2.1'
        });

        $('.facebook-link').on('click', function(e){
            e.preventDefault();
            FB.ui({
                method: 'feed',
                url: location.href,
                name: 'name',
                caption: 'caption',
                description: 'description'
            })
        });

        $('.twitter-link').click(function(event) {
            var width  = 575,
                height = 400,
                left   = ($(window).width()  - width)  / 2,
                top    = ($(window).height() - height) / 2,
                url    = this.href,
                opts   = 'status=1' +
                         ',width='  + width  +
                         ',height=' + height +
                         ',top='    + top    +
                         ',left='   + left;
            
            window.open(url, 'twitter', opts);
         
            return false;
          });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

</body>
</html>