/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012-2013, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/

/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
}
.swiper-wrapper {
    position:relative;
    width:100%;
    -webkit-transition-property:-webkit-transform, left, top;
    -webkit-transition-duration:0s;
    -webkit-transform:translate3d(0px,0,0);
    -webkit-transition-timing-function:ease;
    
    -moz-transition-property:-moz-transform, left, top;
    -moz-transition-duration:0s;
    -moz-transform:translate3d(0px,0,0);
    -moz-transition-timing-function:ease;
    
    -o-transition-property:-o-transform, left, top;
    -o-transition-duration:0s;
    -o-transform:translate3d(0px,0,0);
    -o-transition-timing-function:ease;
    -o-transform:translate(0px,0px);
    
    -ms-transition-property:-ms-transform, left, top;
    -ms-transition-duration:0s;
    -ms-transform:translate3d(0px,0,0);
    -ms-transition-timing-function:ease;
    
    transition-property:transform, left, top;
    transition-duration:0s;
    transform:translate3d(0px,0,0);
    transition-timing-function:ease;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
    /* Specify Swiper's Size: */

    /*width:200px;
    height: 100px;*/
}
.swiper-slide {
    /* Specify Slides's Size: */
    
    /*width: 100%;
    height: 100%;*/
}
.swiper-slide-active {
    /* Specific active slide styling: */
    
}
.swiper-slide-visible {
    /* Specific visible slide styling: */   

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
    /* Stylize pagination button: */    

}
.swiper-active-switch {
    /* Specific active button style: */ 
    
}
.swiper-visible-switch {
    /* Specific visible button style: */    
    
}


// Aqui fica as classes globais, como v-midle, etc
input[type="text"], input[type="email"], input[type="password"] {
    -webkit-appearance: none;
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@mixin rounded-corners {
    @include border-radius(100px);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fade-slider-wrapper {
    .swiper-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
}

.swiper-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// fix overflow hidden issue
.overflow-fix {
    overflow: hidden;
}

// rounded corners
.rounded-corners {
    @include rounded-corners;
}

// clear both
.gl-c-both {
    clear: both;
}

// centraliza um elemento com width fixo
.gl-m-auto {
    margin: 0 auto;
}

// coloca o elemento alinhado a esquerda
.gl-m-right-align {
    margin: 0;
    margin-left: auto;
}

// overflow-hidden
.gl-ov-hidden {
    overflow: hidden;
}

// centraliza vertiacalmente ao centro, quando a altura do pai variar (% por exemplo)
.gl-table-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
// primeiro filho do .gl-table-wrapper, centraliza vertiacalmente ao centro, quando a altura do pai variar (% por exemplo)
.gl-table-cell-wrapper {
    display: table-cell;
    vertical-align: middle;
}

// centraliza o texto
.gl-text-align-center {
    text-align: center;
}

// width grande
.gl-infinity-width {
    width: 9999px;
}

// junto com a .gl-blocagem, faz que a div cresca para o mesmo tamanho do pai
.gl-absolute-wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


// pega altura do primeiro pai
.gl-height-inherit {
    height: inherit;
}

// alinhar ao centro
.gl-v-middle {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}

/* checar se isso atrapalha na performace */
.gl-v-middle-full {
    @extend .gl-v-middle;
    width: 9999px;
}

// alinhado a esquerda
.gl-left {
    float: left;
}

// alinhado a direita
.gl-right {
    float: right;
}

// alinhado ao centro, pai deve ser text-align center
.gl-inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.gl-abs {
    display: block;
    position: absolute;
}

@each $pos in right, top, bottom, left {
    .gl-abs-#{$pos} {
        @extend .gl-abs;
        #{$pos}: 0;
    }
}

.gl-block {
    display: block;
}

.gl-relative {
    position: relative;
}

.gl-full-width {
    width: 100%;
}

.gl-full-height {
    height: 100%;
}

.gl-background-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

// reseta ul
.gl-reset-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
// reseta a
.gl-reset-a {
    text-decoration: none;
}

.gl-background-opacity-fade-black-wrapper {
    background: black;
}

// background com cor opacity
.gl-container-background-opacity {
    position: relative;
    z-index: 0;

    > .before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.gl-block-full {
    display: block;
    width: 100%;
    height: 100%;
}

@mixin site-sprite($name) {
    background: $sprite;
    @include sprite($sprite, $name);
    @include sprite-dimensions($sprite, $name);
}
