.site-wrapper {
    background: image-url("backgrounds/site-text3.jpg") no-repeat top center;
    background-size: 100% auto;
    position: relative;
    font-size: 0.8em;

    &:before {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 10em;
        top: 0;
        left: 0;
        background: white;
    }

    > .gl-absolute-wrapper {
        overflow: hidden;
    }

    > .padding-box {
        padding-top: ( image-height("backgrounds/site-text3.jpg") / image-width("backgrounds/site-text3.jpg") ) * 100%;
    }
}

.logo {
    display: block;
    position: absolute;
    width: u( image-width('backgrounds/logo-photo.png') );
    height: u( image-height('backgrounds/logo-photo.png') );
    left: 16em;
    top: 14em;
    @include transform(scale(1.4));

    img {
        @extend .gl-absolute-wrapper;
        @include opacity(1);
        @include transition(all 500ms ease);
    }

    .hover {
        @include opacity(0);
    }

    &:hover {
        img {
            @include opacity(0);
        }

        .hover {
            @include opacity(1);
        }
    }
}

a {
    text-decoration: none;
}

$multi-fix: 1.25;

.main-header {
    position: fixed;
    width: 100%;
    background: #2e9edb;
    z-index: 100;
    font-size: 10px;
}
    
    .main-nav {
        height: u(76);
        ul {
            height: inherit;
            display: block;
            text-align: center;
            letter-spacing: -0.31em;
        }

            li {
                height: inherit;
                display: inline-block;
                letter-spacing: 0;
            }

                a {
                    height: inherit;
                    line-height: u(76);
                    text-align: center;
                    display: inline-block;
                    padding: 0 10px;

                    .text {
                        display: block;
                        color: #fff;
                        font-family: "BodoniXT";
                        font-size: u(43);
                        text-transform: lowercase;
                    }

                    &.active, &:hover {
                        background-color: #e59e28;
                    }
                }
    }

    .video-section-wrapper {
        position: absolute;
        top: u(582);
        width: 100%;
        font-size: #{$multi-fix}em;

        .video-wrapper {
            display: block;
            position: relative;
            margin: 0 auto;
            width: u(817);
            height: u(485);
            background-color: #fff;
            border: u(15) solid white;

            &.show-video {

                .thumb {
                    z-index: 0;
                }

                iframe {
                    z-index: 1;
                }
            }

            .thumb {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    .play {
                        path {
                            fill: #efab39;
                        }
                    }
                }

            }
                .play {
                    display: block;
                    position: absolute;
                    width: u(166);
                    height: u(165);
                    margin-left: u(-166 / 2);
                    margin-top: u(-165 / 2);
                    left: 50%;
                    top: 50%;

                    path {
                        fill: white;
                    }
                }
        }

        iframe {
            z-index: 0;
            @extend .gl-absolute-wrapper;
        }

        .video-list {
            position: absolute;
            top: 0;
            right: 10.875em;

            li {
                margin-bottom: 1em;
                width: u(96);
            }

                a {
                    display: block;

                    &:hover {
                        .play {
                            fill: #efab39;
                        }
                    }

                    .gl-relative {
                        display: block;
                    }

                    .play {
                        display: block;
                        position: absolute;
                        width: u(59);
                        height: u(58);
                        margin-left: u(-59 / 2);
                        margin-top: u(-58 / 2);
                        left: 50%;
                        top: 50%;
                        fill: white;
                    }

                    img {
                        display: block;
                        width: 100%;
                    }

                    .text {
                        color: #fff;
                        font-family: "BodoniXT";
                        font-size: u(26);
                        display: block;
                    }
                }
        }
    }

    .instagram-section-wrapper {
        position: absolute;
        width: 100%;
        // top: 191.75em * $multi-fix;
        top: 243.088em;

        %arrow {
            position: absolute;
            display: block;
            width: u(50);
            height: u(86);
            top: 50%;
            margin-top: -2.7em;

            svg {
                width: 100%;
                height: 100%;
                display: block;

                path {
                    fill: white;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: #E59E28;
                    }
                }
            }

            &.disabled {
                @include opacity(0.3);
                svg {
                    path {
                        fill: white !important;
                    }
                }
            }
        }

        .arrow-right {
            @extend %arrow;
            left: 100%;
            margin-left: 3.1em;
        }

        .arrow-left {
            @extend %arrow;
            right: 100%;
            margin-right: 3.1em;
            @include transform(rotate(180deg));
        }

        .instagram-box {
            display: block;
            position: relative;
            margin: 0 auto;
            // width: u(1184);
            // height: u(592);
            width: 69em;
            height: 34.5em;

            .swiper-container {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;

                // .swiper-wrapper {
                //     width: 9999px;
                //     float: left;
                //     height: 100%;
                // }

                    .swiper-slide {
                        width: 69em;
                        height: 34.5em;
                        float: left;
                    }
            }

            .li {
                float: left;
                height: 50%;
                width: 25%;
                position: relative;

                a {
                    @extend .gl-block-full;
                }

                    img {
                        width: 100%;
                        display: block;
                    }
            }

        }
    }

    .swiper-container .li a {
        @include transition(all 3000ms linear);
        @extend .gl-absolute-wrapper;
        z-index: 0;
        @include opacity(0);

        &.show {
            @include opacity(1);
        }

        &.new {
            z-index: 1;
        }
    }

    %firula {
        position: absolute;
        z-index: 0;

        .line {
            position: absolute;
            left: 50%;
            margin-left: -1px;
            width: 0.2em;
            @include transform-origin(top, center);
        }
    }

    %firula-text-wrapper {
        font-family: "BodoniXT";
        display: block;
    }

    .inauguracao {
        @extend %firula;
        // top: 78.3em * $multi-fix;
        // left: 6.7em * $multi-fix;

        top: 97.275em;
        left: 22.375em;
        padding-top: 5em;
        @include transform-origin(9.2em, 0);

        .line {
            height: 6em;
            top: 0em;
            @include background-clip(padding-box);
            background-color: #004181;
            @include box-shadow(3px -1px 0 rgba(0,65,129,.3));
            left: 56.4% * $multi-fix;
            bottom: 94%;
            z-index: -1;
        }

        img {
            @include transform(translate3d(0,0,0));
        }
    }

    .inauguracao-text-wrapper {
        color: #004180;
        font-size: u(46.14);
        text-align: center;
        letter-spacing: -0.05em;
        text-indent: 0.3em;
        margin-top: 0.1em;
        position: absolute;
        // top: 31.3em * $multi-fix;
        // left: 3em * $multi-fix;

        top: 38.225em;
        left: 8.25em;
        @extend %firula-text-wrapper;
    }
    

    .calendario {
        @extend %firula;
        top: 76.2em * $multi-fix;
        left: 33.7em * $multi-fix;

        // top: 94.85em;
        // left: 50.125em;
        height: 8em;
        padding-top: 5.4em;
        @include transform(translate3d(0,0,0));
        @include transform-origin(3.6em, 0);

        .line {
            height: 125px;
            @include background-clip(padding-box);
            background-color: #004181;
            @include box-shadow(3px -1px 0 rgba(0,65,129,.3));
            left: 26.9% * $multi-fix;
            top: 0;
            z-index: -1;
        }

        img {
            @include transform(translate3d(0,0,0));
        }
    }

    .calendario-text-wrapper {
        @extend %firula-text-wrapper;
        color: #004180;
        font-size: u(33.94);
        text-align: center;
        letter-spacing: -0.05em;
        text-indent: 3.4em;
        margin-top: -0.3em;
        line-height: 1.1em;
        position: absolute;
        // top: 44.6em * $multi-fix;
        left: 16em * $multi-fix;
        top: 53.75em;
        .brasil {
            font-size: 1.4em;
            padding-left: 0.8em;
        }

        .abrir {
            letter-spacing: 0.08em;
            padding-left: 0.8em;
        }
    }


    .cartao1 {
        @extend %firula;
        top: 73.8em * $multi-fix;
        left: 58.1em * $multi-fix;
        padding-top: 8.3em;
        z-index: 1;
        @include transform(translate3d(0,0,0));
        @include transform-origin(0.4em, 0);

        .line {
            height: 10em;
            @include transform(rotate(-12deg) translate3d(0,0,0));
            @include background-clip(padding-box);
            background-color: #004181;
            @include box-shadow(3px -1px 0 rgba(0,65,129,.3));
            z-index: -1;
            left: 3.4%;
            top: 0;
        }

        img {
            @include transform(translate3d(0,0,0));
        }
    }
    .cartao2 {
        @extend %firula;
        top: 72.6em * $multi-fix;
        left: 62.4em * $multi-fix;
        padding-top: 3.4em;
        @include transform-origin(8.75em, 0);

        .line {
            height: 5.7em;
            @include transform(rotate(4deg) translate3d(0,0,0));
            @include background-clip(padding-box);
            background-color: #004181;
            @include box-shadow(3px -1px 0 rgba(0,65,129,.3));
            z-index: -1;
            left: 79.8%;
            top: 0;
            bottom: auto;
        }

        img {
            @include transform-origin(8.2em, 0);
        }

    }

        .cartao2-text-wrapper {
            color: #004180;
            font-size: 2.53437em;
            text-align: center;
            letter-spacing: -0.05em;
            text-indent: -0.6em;
            margin-top: -1.3em;
            margin-left: 3.6em;
            line-height: 0.9em;
            font-family: "BodoniXT";
            display: block;
            @extend %firula-text-wrapper;
            position: absolute;
            top: 33.6em * $multi-fix;
            // right: 1.9em * $multi-fix;
            right: 7.175em;

            .parcelar {
                font-size: 0.9em;
            }

            .sem {
                display: block;
                text-align: right;
                padding-right: 2.2em;
                font-size: 0.72em;
            }
        }


    .bus {
        @extend %firula;
        // top: 94.8em * $multi-fix;
        // right: -0.1em * $multi-fix;
        top: 114.5em;
        right: 24.875em;
        padding-right: 8.7em;
        @include transform(rotate(0));
        @include transform-origin(100%, -1.9em);

        .line {
            height: 12.8em;
            @include transform(rotate(44deg) translate3d(0,0,0));
            @include background-clip(padding-box);
            background-color: #004181;
            @include box-shadow(3px -1px 0 rgba(0,65,129,.3));
            z-index: -1;
            right: 0em;
            top: -2em;
            left: auto;
        }

    }

        .bus-text-wrapper {
            color: #004180;
            text-align: center;
            letter-spacing: -0.05em;
            text-indent: -0.6em;
            margin-top: -1.3em;
            margin-left: 3.6em;
            line-height: 2.2em;
            font-family: "BodoniXT";
            display: block;
            @extend %firula-text-wrapper;
            position: absolute;
            // top: 104.8em * $multi-fix;
            // right: 18.1em * $multi-fix;
            top: 126em;
            right: 45.025em;

            .dois-mil {
                font-size: u(58.34);
                margin-bottom: 0.3em;
                text-align: left;
            }

            .other {
                font-size: u(35.26);
                display: block;
                display: block;
            }
        }


    .vestido {
        @extend %firula;
        top: 108.4em * $multi-fix;
        // left: 5.1em * $multi-fix;
        left: 22.375em;

        .line {
            // @include transform(rotate(44deg) translate3d(0,0,0));
            @include background-clip(padding-box);
            background-color: white;
            @include box-shadow(3px -1px 0 rgba(0,65,129,.3));
            z-index: -1;
            left: 7em;
            bottom: 27.3em;
            transform: skewY(19deg);
            height: 8.9em;
        }

    }

        .vestido-text-wrapper {
            color: white;
            text-align: center;
            letter-spacing: -0.05em;
            text-indent: -0.6em;
            margin-top: -1.3em;
            margin-left: 3.6em;
            line-height: 2.2em;
            font-family: "BodoniXT";
            display: block;
            position: absolute;
            @extend %firula-text-wrapper;
            // top: 118.5em * $multi-fix;
            top: 166.125em;
            left: 17.4em * $multi-fix;

            .dois-mil {
                font-size: u(69.58);
                margin-bottom: 0.2em;
                text-align: left;
            }

            .other {
                font-size: u(38.75);
                display: block;
                text-indent: -4.3em;
                position: relative;
                left: -1em;
            }
        }
    .sacola {
        @extend %firula;
        display: block;
        width: 18.4375em;
        top: 54em * $multi-fix;
        position: absolute;
        left: 20.4em * $multi-fix;

    }

        .sacola-text-wrapper {
            color: white;
            text-align: center;
            letter-spacing: -0.05em;
            margin-top: -1.3em;
            margin-left: 3.6em;
            font-family: "BodoniXT";
            display: block;
            @extend %firula-text-wrapper;
            position: absolute;
            top: 44.9em * $multi-fix;
            // left: 7.1em * $multi-fix;
            left: 12.875em;
            font-size: 3em;
            line-height: 1.1em;
            text-indent: 1em;

            .duzentas {
                font-size: 1.485em;
                margin-bottom: 0.2em;
                text-align: left;
            }
        }

    .microfone {
        @extend %firula;        
        top: 57em * $multi-fix;
        position: absolute;
        // left: 34.3em * $multi-fix;
        left: 40.875em;
    }

        .microfone-text-wrapper {
            color: white;
            letter-spacing: -0.05em;
            margin-top: -1.3em;
            margin-left: 3.6em;
            font-family: "BodoniXT";
            display: block;
            @extend %firula-text-wrapper;
            position: absolute;
            top: 127.5em * $multi-fix;
            // left: 71.1em * $multi-fix;
            left: 81.875em;
            line-height: 2.4em;
            text-indent: 1em;

            .ano {
                font-size: 4.0625em;
                display: block;
                text-indent: 0.4em;
            }

            .other {
                margin-bottom: 0.2em;
                text-align: left;
                font-size: 2.375em;
                margin-top: 0.1em;
                text-indent: -0.1em;
            }
        }

    .pipoca {
        @extend %firula;
        // top: 146.3em * $multi-fix;
        // position: absolute;
        // left: 6em * $multi-fix;

        top: 183.875em;
        position: absolute;
        left: 21.5em;
    }

        .pipoca-text-wrapper {
            color: #004180;
            letter-spacing: -0.05em;
            margin-top: -1.3em;
            @extend %firula-text-wrapper;
            margin-left: 3.6em;
            font-family: "BodoniXT";
            display: block;
            position: absolute;
            line-height: 2.4em;
            text-indent: 1em;
            // top: 156.3em * $multi-fix;
            // left: 11.8em * $multi-fix;
            top: 195.375em;
            left: 27.75em;

            .ano {
                font-size: 4.0625em;
                display: block;
                text-indent: 0.4em;
                margin-left: 1em;
            }

            .inauguracao-text {
                display: block;
                font-size: 2.0625em;
                margin-left: 0.9em;
                margin-top: 0.2em;
            }

            .cinepolis {
                display: block;
                font-size: 2.4375em;
                margin-top: -0.1em;
            }

            .rest {
                display: block;
                font-size: 1.65063em;
                line-height: 1em;
                margin-left: 1em;
            }
        }



    .gourmet {
        @extend %firula;
        // top: 140.6em * $multi-fix;
        // position: absolute;
        // left: 39.8em * $multi-fix;

        top: 177.75em;
        position: absolute;
        left: 51.75em;
    }

        .gourmet-text-wrapper {
            color: #004180;
            letter-spacing: -0.05em;
            margin-top: -1.3em;
            margin-left: 3.6em;
            font-family: "BodoniXT";
            display: block;
            position: absolute;
            line-height: 2.4em;
            @extend %firula-text-wrapper;
            text-indent: 1em;
            top: 157.6em * $multi-fix;
            // left: 44.5em * $multi-fix;
            left: 58.625em;

            .ano {
                font-size: 4.0625em;
                display: block;
                text-indent: -0.4em;
                margin-left: 1em;
            }

            .inauguracao-text {
                display: block;
                font-size: 2.0625em;
                margin-left: 1.5em;
                margin-top: 0.2em;
            }

            .rest {
                display: block;
                font-size: 2.65063em;
                margin-left: 1.3em;
                text-indent: -0.7em;
                line-height: 0.9em;
                margin-top: -0.2em;
            }
        }


    .paraiba {
        @extend %firula;
        // top: 68em * $multi-fix;
        // position: absolute;
        // left: 38.5em * $multi-fix;

        top: 87em;
        position: absolute;
        left: 39.125em;
    }

        .paraiba-text-wrapper {
            color: #004180;
            letter-spacing: -0.05em;
            margin-top: -1.3em;
            margin-left: 3.6em;
            font-family: "BodoniXT";
            display: block;
            @extend %firula-text-wrapper;
            position: absolute;
            // top: 150.9em * $multi-fix;
            top: 195.125em;
            left: 63.1em * $multi-fix;
            line-height: 2.4em;
            text-indent: 1em;

            .maior {
                font-size: u(58);
            }

            .rest {
                font-size: u(41);
                font-size: 2.5625em;
                margin-left: 1em;
                text-indent: -0.7em;
            }
        }

    %firula:hover + %firula-text-wrapper, %firula:hover + %firula + %firula-text-wrapper, %firula-text-wrapper:hover {
        color: #e59f28;
    }

    .overlay-3 {
        display: block;
        width: 100%;
        height: 2.925em;
        background: #36AFE2;
        position: absolute;
        // top: 147.5em * $multi-fix;
        top: 185.675em;
        @include transform(skewy(-8.4deg));
        @include transform-origin(0, 0);
    }

    .overlay-1 {
        display: block;
        width: 100%;
        height: 2.925em;
        background: #36AFE2;
        position: absolute;
        top: 78.6em * $multi-fix;
        @include transform(skewy(-5.9deg));
        @include transform-origin(0, 0);
        z-index: 2;
    }


    .overlay-2 {
        display: block;
        width: 100%;
        height: 2.925em;
        background: white;
        position: absolute;
        top: 93.7em * $multi-fix;
        @include transform(skewy(15.7deg));
        @include transform-origin(0, 0);
    }

    .positioner-show-1, .positioner-show-2, .positioner-show-3 {
        display: block;
        position: absolute;
    }

    .positioner-show-1 {
        top: 73em * $multi-fix;
    }


    .positioner-show-2 {
        top: 103em * $multi-fix;
    }

    .positioner-show-3 {
        top: 145em * $multi-fix;
    }

    .icons-sec {
        > * {
            @include opacity(0);
            @include transition(all 500ms ease);

            &.show {
                @include opacity(1);
            }
        }
    }


    @each $file in 'year-1989', 'ICON-BUS', 'ICON-CALENDARIO', 'paraiba', 'chef', 'microfone', 'sacola', 'microfone', 'ICON-CARD', 'ICON-CARD2', 'ICON-CHEF', 'ICON-MICROFONE', 'ICON-PARAIBA', 'ICON-PIPOCA', 'ICON-VESTIDO' {
        .#{$file} {
            display: block;
            width: u(image-width('pendurados/#{$file}.png'));
        }
    }

    @each $file in 'sua-historia', 'clipe', 'carta', 'twitter', 'facebook'{
        .#{$file} {
            display: block;
            width: u(image-width('backgrounds/#{$file}.png'));
        }
    }

    .opener-modal {
        color: #FFF;
        font-family: "BodoniXT";
        font-size: 1.25em * $multi-fix;
        position: absolute;
        top: 218.3em;
        right: 26.8em;

        &:hover {
            color: #F7B344;
        }
    }

    .conte-sua-historia-clicker {
        position: absolute;
        width: 100%;
        z-index: 1;
        height: 77em;
        top: 309em;
    }

    .modal-conte-sua-historia {
        width: u(1318);
        // height: u(871);
        height: 63.438em;
        @include border-radius(13px);
        @include background-clip(padding-box);
        background-color: #004181;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: u(1318 / -2);
        top: 255em * $multi-fix;
        z-index: -1;
        @include opacity(0);
        @include transition(all 500ms ease);

        .close-modal {
            color: white;
            position: absolute;
            top: 1em;
            right: 1em;
            font-size: 2em;

            &:hover {
                color: #E59E28;
            }
        }

        &.show {
            @include opacity(1);
            z-index: 40;
        }

        .center {
            margin-left: u(76);
            margin-right: u(76);
        }

            .sua-historia {
                display: block;
                margin: 2.8em auto;
            }

                .row {
                    margin: 0 -10px;
                    @extend .clearfix;
                }

                    .col-4 {
                        width: (100% / 3);
                        float: left;
                        padding: 0 10px;
                    }

            label {
                color: #fff;
                font-family: "BodoniXT";
                font-size: u(24.21);
            }

            .input {
                width: 100%;
                height: u(44);
                @include border-radius(9px);
                @include background-clip(padding-box);
                background-color: #f7b344;
                @include box-shadow(3px -1px 0 rgba(0,65,129,.3));
                border: none;
                padding: 0 10px;
                font-family: "BodoniXT";
                border: 2px solid transparent;
                color: white;
                font-size: 1.6em;

                &.error {
                    border: 2px solid #da3a3a;
                }
            }

            textarea {
                display: block;
                resize: none;
                width: 100%;
                margin-top: 2.2em;
                // height: 15.9em;
                height: 19.2em;
                background: none;
                border: none;
                color: #fff;
                font-family: "BodoniXT";
                font-size: u(25.62);
                font-style: italic;
                position: relative;
                z-index: 1;
                // line-height: 1.31em;
                line-height: 1.355em;
                padding-top: 0.1em;
            }
            
            .textarea-bg {
                @extend .gl-absolute-wrapper;
                overflow: hidden;

                .line {
                    display: block;
                    border: 1px solid #FFF;
                    margin-top: 2.7%;
                }
            }

        .buttons {
            text-align: center;
            margin-top: 1.4em;
            vertical-align: middle;

            > * {
                vertical-align: middle;
            }

            .share {
                margin-left: 1em;
                color: #fff;
                font-family: "BodoniXT";
                font-size: u(27.33);
            }

            .facebook-link, .twitter-link {
                margin-left: 1em;
                display: inline-block;

            }
            .regulamento {
                margin-left: 1em;
                color: #fff;
                font-family: "BodoniXT";
                font-size: u(24);

                &:hover {
                    color: #F7B344
                }
            }
        }

        .btn {
            display: inline-block;
            background: white;
            border: none;
            height: u(53);
            @include background-clip(padding-box);
            @include box-shadow(3px -1px 0 rgba(0,65,129,.3));
            vertical-align: top;
            line-height: u(53);
            padding: 0 0.9em;
            position: relative;

            input {
                @extend .gl-absolute-wrapper;
                @include opacity(0);
            }   

            &:hover {
                background: #F7B344;
            }

            &:first-child {
                -webkit-border-top-left-radius: 0.913em;
                -webkit-border-bottom-left-radius: 0.913em;
                -moz-border-radius-topleft: 0.913em;
                -moz-border-radius-bottomleft: 0.913em;
                border-top-left-radius: 0.913em;
                border-bottom-left-radius: 0.913em;
            }

            &:last-child {
                -webkit-border-top-right-radius: 0.913em;
                -webkit-border-bottom-right-radius: 0.913em;
                -moz-border-radius-topright: 0.913em;
                -moz-border-radius-bottomright: 0.913em;
                border-top-right-radius: 0.913em;
                border-bottom-right-radius: 0.913em;
            }

            img {
                display: inline-block;
                vertical-align: middle;
            }

            .text {
                color: #004181;
                font-family: "BodoniXT";
                font-size: u(25.62);
                vertical-align: middle;
            }
        }

        .form-content-wrapper {
            // height: 33em;
            height: 41.2em;
            overflow: hidden;

            > * {
                height: inherit;
                display: none;
            }

            .form-wrapper {
                display: block;
            }

            .history-created-wrapper {
                font-family: "BodoniXT";
                font-size: u(25.62);
                color: white;

                a {
                    color: white;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .regulamento-wrapper {
                font-family: "BodoniXT";
                font-size: u(25.62);
                color: white;
            }
        }

        &.show-regulamento {
            .regulamento-wrapper {
                display: block !important;
            }

            .form-wrapper, .history-created-wrapper {
                display: none !important;
            }
        }

    }

@media all and (max-width:768px) {
    .modal-conte-sua-historia {
        .col-4 {
            width: 100%;
        }
    }

    .main-header {
        font-size: 7px;
    }
}


